.form-page {
    background-color: rgb(30, 30, 30);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 40%;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.health-form {
    display: flex;
    flex-direction: column;
}

.health-form h2 {
    color: #1e1e1e;
    text-align: center;
    margin-bottom: 20px;
}

.health-form input[type='text'],
.health-form input[type='number'] {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    width: 100%;
    font-family: poppins;
}

.health-form input[type='text']:focus,
.health-form input[type='number']:focus {
    outline: none;
    border-bottom: 2px solid #667eea;
}

.health-form .submit-btn {
    border: none;
    padding: 10px;
    font-size: 1.2em;
    background-color: #000000;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 12px;
}

.health-form .submit-btn:hover {
    background-color: #5a67d8;
}