@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: #171718;
    font-family: 'Poppins', sans-serif;
    color: #CDD7E4;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.home-header {
    text-align: center;
    margin-bottom: 2rem;
}

.home-header h1 {
    font-size: 1.5rem;
    color: #F2F4F8;
    animation: blinkingText 5.5s linear infinite;
}

.benefits-section {
    margin-bottom: 2rem;
    width: 100%;
}

.benefits-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    color: black;
    width: 300px;
    min-height: 300px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-icon {
    font-size: 70px;
    color: #c071ff;
}

.action {
    color: #806a7f;
    font-weight: bold;
}

.recommendations-section {
    margin-bottom: 2rem;
    width: 100%;
}

.recommendations-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recommendations-cards .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #F2F4F8;
}

.recommendations-cards .card img {
    width: 100px;
    object-fit: contain;
    margin-right: 20px;
}

@keyframes blinkingText {
    0% { color: #ffffff; }
    50% { color:#171718 ; }
    100% { color: #171718; }
}
