.profile-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #ffffff;
    align-items: center; 
  }
  
  .profile-heading {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2em;
    margin-bottom: 50px;
  }
  
  .main-container {
    display: flex;
    width: 85%;  /* Decrease the width to add more padding around the main container */
    justify-content: space-between;
    margin: 0 auto;  /* Center the main container */
  }
  
  .profile-container {
    flex: 3;
    margin-right: 30px;  /* Increase the right margin */
  }
  
  .user-chart {
    width: 1050px;
    height: 1050px;

  }
  
  .user-chart .recharts-text.recharts-cartesian-axis-tick-value {
    fill: white;
    font-weight: bold;
  }
  
  .card-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-right: 100px;  /* Increase the padding to the right */
    padding-bottom: 110px;
    padding-top: 25px;
  }
  
  .prediction-card, .recommendation-card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .prediction-card h2, .recommendation-card h2 {
    color: #2f4f4f;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .prediction-card p, .recommendation-card p {
    color: #696969;
    margin-bottom: 20px;
  }
  